<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{/layout/index :: dynamic(~{:: main})}"
>
  <body>
    <main>
      <form th:action="@{|/security/login|}" method="post">
        <div class="login">
          <div class="form">
            <h2>Welcome</h2>
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Sign In" class="submit" />
          </div>
          <label th:text="${message}"></label>
        </div>
      </form>
    </main>
  </body>
</html>
