<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/layout/index :: dynamic(~{:: main})}">
    <body>
<main>
      <form th:action="@{/signup}" th:object="${users}" method="post" enctype="multipart/form-data">
      
        <h1>Sign Up</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="name">ID:</label>
          <input type="text" id="name" th:field="*{id}" >
          <i th:errors="*{id}" for=""></i>
          <label for="mail">UserName: </label>
          <input type="text" id="mail"th:field="*{name}" >
          <i th:errors="*{name}"></i>
          <label for="password">Password:</label>
          <input type="password" id="password"th:field="*{password}"  required>
          <i th:errors="*{password}"></i>
          <label for="name">Phone:</label>
          <input type="text" id="password" th:field="*{phonenumber}" >
          <i th:errors="*{phonenumber}"></i>
          <label for="mail">Email:</label>
          <input type="email" id="mail" th:field="*{email}" >
          <i th:errors="*{email}"></i>
          <label for="name">Address:</label>
          <input type="text" id="password" th:field="*{address}" >
          <i th:errors="*{address}"></i>
          <!-- <input type="text" name="" th:field="*{emoji}"> -->

        </fieldset>
        
        <fieldset>
          <legend><span class="number">2</span>Your profile</legend>
          <i  th:text="${message}"></i>
          <input type="file" name="file" accept=".jpg, .jpeg, .png, .bmp" required class="form-control-file">
        </fieldset>
        <button type="submit">Sign Up</button>
      </form>
      </main>
    </body>
</html>
</body>
</html>